@font-face {
  font-family: 'Google Sans Regular';
  src: local('Google Sans Regular'), local('Google-Sans-Regular'),
    url('GoogleSans-Regular.woff2') format('woff2'), url('GoogleSans-Regular.woff') format('woff'),
    url('GoogleSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Product Sans Medium';
  src: local('Product Sans Medium'), local('Product Sans Medium'),
    url('GoogleSans-Regular.woff2') format('woff2'), url('GoogleSans-Regular.woff') format('woff'),
    url('GoogleSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
